<!DOCTYPE html>
<html lang="es" data-wf-page="58502568fc6c57f95b4305cb" data-wf-site="58502568fc6c57f95b4305ca">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="google-site-verification" content="o5X6_6zrz77dVpu2PW34aaWIRZvjmZk2pe9YnnoPJRg" />  
  {% block head %}{% endblock %}
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/css/gibson.css" rel="stylesheet" type="text/css">
  <link href="/css/panoram.webflow.css?_={{ rev_parse }}" rel="stylesheet" type="text/css">
  <link href="/css/fullscreen.css?_={{ rev_parse }}" rel="stylesheet" type="text/css">
  <link href="/css/animations.css?_={{ rev_parse }}" rel="stylesheet" type="text/css">  
  <link href="/css/sweetalert.css" rel="stylesheet" type="text/css">  
  <link href="/images/iso-panoram.png" rel="shortcut icon" type="image/x-icon">
  <link href="/images/iso-panoram-big.png" rel="apple-touch-icon">
</head>
<body>

  <!-- include 'partials/analytics.html' -->
  {% include 'partials/animations.html' %}
  
  {% block body %}{% endblock %}

  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <script src="/js/modernizr.js" type="text/javascript"></script>  
  <script src="/js/webflow.js" type="text/javascript"></script>
  <script src="/js/exif.js" type="text/javascript"></script>  
  <script src="/js/binaryajax.js" type="text/javascript"></script>  
  <script src="/js/jsrender.min.js" type="text/javascript"></script>
  <script src="/js/sweetalert.min.js" type="text/javascript"></script>
  <script src="/js/geo.js?_={{ rev_parse }}" type="text/javascript"></script>
  <script src="/js/config.js?_={{ rev_parse }}" type="text/javascript"></script>
  <script src="/js/app.js?_={{ rev_parse }}" type="text/javascript"></script>  

  <!-- [if lte IE 9]><script src="/js/placeholders.min.js?_={{ rev_parse }}"></script><![endif] -->  

  {% block assets %}{% endblock %}
  
</body>
</html>