html, body {
	margin:0;
	padding: 0;
	height: 100%;
	background-color: #000;
}

.toolbar {
	max-width: 460px;
	margin: 10px auto;
	margin-top: 110px;
}

.toolbox-top {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	padding: 10px 20px;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	max-width: 600px;
	max-height: 100px;
	z-index: 20;
}

.videoContainer 
{
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
    z-index: 10;
}

.videoContainer video,  .videoContainer canvas
{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	display: inherit;
	margin: auto;
}

.badge {
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	position: absolute;
	padding: 0 6px;
	top: 0;
	right: -5px;
}

.w-inline-block {
	position: relative;
}

canvas {
	z-index: 11;
}

#map {
	position: absolute;
	left:0;
	bottom: 0;
	width: 200px;
	height: 200px;
}

.toolbar-container {
	display: none;	
	position: absolute;
	z-index: 12;
	top: 0;
	right:0;
	left:0;
	bottom:0;
	padding:0 10px;
}

.bottom {
	position: absolute;
	top: 10px;
	left:10px;
}