@font-face {
    font-family: 'MonacoRegular';
    src: url('/fonts/monaco/monaco-webfont.eot');
    src: url('/fonts/monaco/monaco-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/monaco/monaco-webfont.woff') format('woff'),
         url('/fonts/monaco/monaco-webfont.ttf') format('truetype'),
         url('/fonts/monaco/monaco-webfont.svg#MonacoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}