{% extends "layouts/default.html" %}

{% block head %}
  <title>{{app_title}} {{title}}</title>
  <meta name="description" content="{{title}}">
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="{{photo}}" />
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
  <script id="carinfo" type="text/x-jsrender">
  [[if extrainfo]]
    <div class="container-profile justone">
      <div class="container-profile__title">
        <h5 class="container-profile--h">EL USUARIO DICE</h5>
      </div>
      <div class="container-profile__detail">
        <p>[[:extrainfo]]</p>
      </div>
    </div>
  [[/if]]
    <!--div class="container-profile justone">
      <div class="container-profile__title"><img class="container-profile--img" src="/images/visible.svg">
        <h5 class="container-profile--h">Detalles</h5>
      </div>
      <div class="container-profile__detail">
        <div class="container__detail">
          <h6 class="container-profile__detail--h">Ubicación</h6>
        </div>
        <div class="container__detail">
          <h6 class="container-profile__detail--h">Título</h6>
          <div>[[:title]]</div>
        </div>
      </div>
    </div-->
  </script>

  <script id="datosvendedor" type="text/x-jsrender">
      <div class="modalwrapper__container textoleft"><img class="close" data-ix="close" src="/images/cancel.svg">
      <h3>Datos del vendedor</h3>
      [[if ~isValidated()]]
      <ul class="w-list-unstyled">
        <li><strong>Nombre:</strong> [[:user.title]]</li>
        <li><strong>Email:</strong> [[:user.email]]</li>
        <li><strong>Teléfono:</strong> <a href="tel:[[:tel]]">[[:tel]]</a></li>
        <li><strong>Horario de contacto:</strong> [[:schedule]]</li>
      </ul>
      <div class="w-form2">
        <form class="w-clearfix" id="form-message">
          <input type="hidden" name="recipient_id" value="[[:user.id]]">
          <label class="form--label" for="name-2">Dejale un mensaje:</label>
          <textarea class="form-area w-input" maxlength="5000" name="message" placeholder="Escribí tu mensaje..." required></textarea>
          <input class="principalbutton totheright w-button" data-wait="Enviando..." type="submit" value="Enviar">
        </form>
        <div class="form__succes w-form-done">
          <div>Listo. Chequea tu casilla de email o los mensajes dentro de tu perfil para leer la respuesta del vendedor.</div>
        </div>
        <div class="form__error w-form-fail">
          <div>Ups, algo salió mal. Por favor volvé a intentarlo.</div>
        </div>
      </div>
      [[else]]
      <div class="form__error">
          <div>Por favor valida tu email para ver la información del contacto. Para esto, localizá el email que te hemos enviado y hacé click en el enlace.</div>
      </div>
      [[/if]]
    </div>
  </script>

  <script id="profile" type="text/x-jsrender">
    <div>
      <div class="profile__profile-picture"><img src="[[if user.picture]][[:~getBucketSize('80x80',user.picture)]][[else]][[:~isDummy()]][[/if]]" width="60" height="60">
      </div>
      <h1 class="profile--name" data-code="[[:code]]">[[:~decode(title)]]</h1>
      <h3 class="profile--km-year">[[:created]]</span></h3>
      <div class="profile--place">
        <div id="map" class="panomap"></div>
      </div>      
      <!--div class="profile--place">[[:region.title]], [[:city.title]]</div>
      <h1 class="profile--price">[[:~isPrice(currency,price)]]</h1>
      <a onclick="_gaq.push(['_trackEvent', 'contacto', 'clic', 'contacto vendedor'])" class="principalbutton profile--button w-button" data-ix="gotodatos" href="#">Contactar al vendedor</a-->
      <div class="profile__share">
        <a href="whatsapp://send?text=Mirá este auto en panoram {{shorturl}}" class="whatsapp">
          <img src="../images/whatsapp-share.png" />Compartir con Whatsapp
        </a>
        <a href="mailto:?body={{shorturl}}&subject={{title}}" class="email">
          <img src="../images/email-share.png" />Compartir con Email
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{url}}&t=Mirá este auto en panoram! {{title}}" target="_blank" class="facebook-share">
          <img src="../images/fb-share.png" />Compartir con Facebook
        </a>
      </div>
    </div>
    <!--div class="profile__alertas">
      <div class="togglebutton caritem__data--descr__alert" data-type="alert" data-id="[[:id]]" data-ix="toggle">
        <div class="togglebuttongreen[[if ~isAlert(id)]] checked[[/if]][[if ~isGuest()]] disabled[[/if]]"></div>
        <div class="buttontoggle[[if ~isAlert(id)]] checked[[/if]][[if ~isGuest()]] disabled[[/if]]"></div>
        <div class="buttontext-off[[if ~isAlert(id)]] checked[[/if]][[if ~isGuest()]] disabled[[/if]]">off</div>
      </div>
      <div class="profile__alertas--text">Recibir alertas por email sobre autos similares</div>
    </div-->
    <div class="profile__etiquetas">
      <h5 class="etiquetas--h">etiquetas</h5>
      <div class="etiquetas__etiquetas">
      [[for props.etiquetas]]
        <a class="etiquetas--tag w-inline-block">
          <div>[[>#data]]</div>
        </a>
      [[/for]]
      </div>
    </div>
    [[if ~isOwned(id) == false]]
    <div class="profile--favorite" data-ix="favorite">
      <img class="caritem__data--descr__fav" data-type="fav" data-id="[[:id]]" src="/images/fav[[if ~isFav(id)]]-active[[else]]orite[[/if]].svg">
    </div>
    [[/if]]
    [[if warranty]]
    <a class="profile--garantia w-inline-block" href="/garantia-mecanica"><img src="/images/garantia.svg">
      <div class="garantia--p">Garantía Mecánica
      </div>
    </a>
    [[/if]]
  </script>

  <script id="related" type="text/x-jsrender">
    <a class="carlisting__caritem w-inline-block" href="[[:links.self]]" title="Ingresa para ver los detalles">
    [[if warranty]]
      <div class="garantizado">
        <img src="/images/garantia.svg">
      </div>
    [[/if]]
      <div class="caritem--image" [[if file]]style="background-image:url([[:~getBucketSize('480x360',file.photo_url)]])"[[/if]]></div>
      <div class="caritem--profilepicture"><img src="[[if user.picture]][[:~getBucketSize('80x80',user.picture)]][[else]][[:~isDummy()]][[/if]]">
      </div>
      <div class="caritem__data">
        <h1 class="caritem__data--h">[[:~decode(title)]]</h1>
        <div class="caritem__data--description">
          <div class="caritem__data--descr__n">
            <div>[[:duration]]</div>
          </div>
        [[if ~isOwned(id) == false]]
          <img class="caritem__data--descr__fav" data-type="fav" data-id="[[:id]]" src="/images/fav[[if ~isFav(id)]]-active[[else]]orite[[/if]].svg">
        [[/if]]
        </div>
        <div class="caritem__data--price">[[:created]]</div>
      </div>
    </a>
  </script>

  <script id="props" type="text/x-jsrender">
    <div>[[>#data]]</div>
  </script>

  <script id="slide" type="text/x-jsrender">
    <div class="w-slide">
      <a class="lightbox w-inline-block w-lightbox" href="#"><img class="w-lightbox-image-fixed" sizes="(max-width: 767px) 100vw, 60vw" src="[[:photo_url]]" srcset="[[:~getBucketSize('480x360',photo_url)]] 500w, [[:~getBucketSize('800x600',photo_url)]] 800w, [[:~getBucketSize('1080x810',photo_url)]] 1080w, [[:photo_url]] 1200w">
      <script class="w-json" type="application/json">{ "group": "car", "items": [{
        "type": "image",
        "_id": "[[>#index]]",
        "fileName": "[[:photo_url]]",
        "origFileName": "[[:photo_url]]",
        "width": 1200,
        "height": 900,
        "fileSize": "[[:filesize]]",
        "url": "[[:photo_url]]"
      }] }[[:"<"]]/script>
      </a>
    </div>
  </script>

  <script id="slide-nav" type="text/x-jsrender">
    <div class="bestinfo__slider--nav--img w-hidden">
      <a class="lightbox w-inline-block w-lightbox" href="#"><img sizes="(max-width: 479px) 18vw, (max-width: 767px) 19vw, 11vw" src="[[:photo_url]]" srcset="[[:~getBucketSize('480x360',photo_url)]] 500w, [[:~getBucketSize('800x600',photo_url)]] 800w, [[:~getBucketSize('1080x810',photo_url)]] 1080w, [[:photo_url]] 1200w">
      <script class="w-json" type="application/json">{ "group": "car-thumb", "items": [{
        "type": "image",
        "_id": "[[:photo_url]]",
        "className": "Test",
        "fileName": "[[:photo_url]]",
        "origFileName": "[[:photo_url]]",
        "width": 1200,
        "height": 900,
        "fileSize": "[[:filesize]]",
        "url": "[[:photo_url]]"
      }]}[[:"<"]]/script>
      </a>
    </div>
  </script>

{% endblock %}

{% block body %}

  <div class="datosvendedir modalwrapper" id="register">

  </div>
  <!--div class="advice">
    <div>¿Cuánto pagas por el seguro de tu auto? Obtené la mejor cobertura hasta un 30% más barato.</div><a class="advice__button w-button" href="/asegura-con-nosotros">Conoce más</a>
  </div-->
  <div class="bestinfo">
    <div class="bestinfo__slider">
      <div class="bestinfo__w-slider w-slider" data-animation="fade" data-autoplay="1" data-delay="4000" data-duration="500" data-infinite="1">
        <div class="w-slider-mask">
        </div>
        <div class="w-slider-arrow-left">
          <div class="arrow--icon w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="arrow--icon w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav"></div>
      </div>
      <div class="bestinfo__slider--nav">
      </div>
    </div>
    <div class="bestinfo__profile">
    </div>
  </div>
  <div class="car-info-info">
  </div>
  <!--div class="car-info-boxes">
    <div class="container-profile">
      <div class="container-profile__title"><img class="container-profile--img" src="/images/volume.svg">
        <h5 class="container-profile--h">Sonido</h5>
      </div>
      <div class="container-profile__detail">
        <div class="container-profile__detail--sonido">
        </div>
      </div>
    </div>
    <div class="container-profile">
      <div class="container-profile__title"><img class="container-profile--img" src="/images/sun.svg">
        <h5 class="container-profile--h">exterior</h5>
      </div>
      <div class="container-profile__detail">
        <div class="container-profile__detail--exterior">
        </div>
      </div>
    </div>
    <div class="container-profile">
      <div class="container-profile__title"><img class="container-profile--img" src="/images/favorite-1.svg">
        <h5 class="container-profile--h">confort</h5>
      </div>
      <div class="container-profile__detail">
        <div class="container-profile__detail--confort">
        </div>
      </div>
    </div>
    <div class="container-profile">
      <div class="container-profile__title"><img class="container-profile--img" src="/images/handshake.svg">
        <h5 class="container-profile--h">seguridad</h5>
      </div>
      <div class="container-profile__detail">
        <div class="container-profile__detail--seguridad">
        </div>
      </div>
    </div>
  </div>
  <div class="car-info-boxes">
    <div class="container-profile">
      <div class="container-profile__title"><img class="container-profile--img" src="/images/estado.svg">
        <h5 class="container-profile--h">ESTADO DEL AUTO</h5>
      </div>
      <div class="container-profile__detail">
        <div class="container-profile__detail--estado">
        </div>
      </div>
    </div>
  </div-->

  <div class="relacionados">
    <h5 class="relacionados--h">Publicaciones relacionadas</h5>
  </div>

{% endblock %}

{% block assets %}
  <script type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <script src="/js/geo.js?_={{ rev_parse }}" type="text/javascript"></script>
  <script src="/js/transmision.js" type="text/javascript"></script>
{% endblock %}