{% extends "layouts/fullscreen.html" %}

{% block head %}
  <title>{{app_title}} Transmitir</title>
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{app_title}} Transmitir" />
  <meta property="og:description" content="Publica desde tu celular gratis, encontrá la oportunidad que estabas esperando." />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="https://panoram.com/images/IMG_3505bfree.jpg" />
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
  <script>
    var code = '{{ code }}'
    , title = '{{ title }}';
  </script>
{% endblock %}

{% block body %}

<div class="toolbox-top">
    <a class="w-inline-block" href="/perfil-usuario/panos">
      <img height="60" class="" src="/images/34865-200-white.png" title="Volver al listado">
    </a>
    <a class="w-inline-block toogle-toolbox" href="#" title="Ver opciones">
      <img height="40" class="" src="/images/hamburger-512-w.png">
    </a>
    <a id="snap" class="w-inline-block direct-snapshot" href="#" title="Tomar foto manualmente">
      <img height="40" class="" src="/images/684259_phone_512x512-w.png">
    </a>    
    <a id="pause" class="w-inline-block" href="#" title="Iniciar transmisión">
      <img height="40" class="" src="/images/screen-recorder-no-root-logo.png">
    </a>
</div>

<div class="toolbar-container">
  <div class="toolbar">
    <div class="publish__container">
      <h5 class="publish__container--h">Transmisión {{code}}</h5>

      <!-- config panel -->
      <div class="publish__form w-clearfix">
        <h5 class="publish--h">CONFIGURÁ TU TRANSMISIÓN <!--span class="publish--span">(*) Campos obligatorios</span--></h5>
        <div class="publish--p">Querés que tu transmisión sea pública?</div>
        <div class="publish__form--newornot">
          <div class="toggleused" data-ix="used">
            <div class="active toggle__item"><img src="/images/used-toggle-active.svg">
              <div class="active toggle--text">Privado</div>
            </div>
            <div class="toggle__item"><img src="/images/new-toggle.svg">
              <div class="toggle--text">Público</div>
            </div>
          </div>
          <div class="togglenew" data-ix="new">
            <div class="toggle__item"><img src="/images/used-toggle.svg">
              <div class="toggle--text">Privado</div>
            </div>
            <div class="active toggle__item"><img src="/images/new-toggle-active.svg">
              <div class="active toggle--text">Público</div>
            </div>
          </div>
        </div>
        <h5 class="publish--h">INTERVALO Y CÁMARA <!--span class="publish--span">(*) Campos obligatorios</span--></h5>
        <div class="publish--p">Cada cuanto debe tomar una captura y con qué cámara?</div>
        <div class="w-form2">
          <form class="w-clearfix">
            <div class="publish__section">
              <div class="publish__twoinone">
                <div class="publish__section__field">
                  <label class="form--label" for="ano">Cada cuántos segs? <!--span class="publish--span">(*)</span-->
                  </label>
                  <input class="form__field w-input" type="number" data-name="periodicity" maxlength="5" name="periodicity" id="periodicity" max="9999" min="5" placeholder="min:5, max:9999" value="5">
                </div>
                <div class="publish__section__field">
                  <label class="form--label" for="name">SELECCIONA CÁMARA <!--span class="publish--span">(*)</span-->
                  </label>
                  <select class="form__field w-select" data-name="videoSource" id="videoSource" name="videoSource">
                  </select>
                </div>              
                <!--div class="publish__section__field">
                  <label class="form--label" for="a-o-2">Etiquetas
                  </label>
                  <input class="form__field w-input" data-name="tags" id="kilometros" maxlength="256" name="tags" placeholder="Paisajes, montaña" required="required" type="number">
                </div-->
              </div>
            </div>
            <div id='map'></div>
          </div>
          </form>
        </div>
      </div>
      <!-- END config panel -->
    </div>
  </div>
</div>

<div class="videoContainer">
  <canvas id="canvas" hidden></canvas>
  <video id="video" autoplay></video>
</div>

{% endblock %}

{% block assets %}
  <script type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <script src="/js/geo.js?_={{ rev_parse }}" type="text/javascript"></script>
  <script src="/js/transmitir.js?_={{ rev_parse }}" type="text/javascript"></script>
{% endblock %}