{% extends "layouts/default.html" %}

{% block head %}
  <title>{{app_title}} Aseguramiento </title>
  <meta content="Transmití en vivo desde tu smartphone" name="description">
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{app_title}} Asegurá con nosotros" />
  <meta property="og:description" content="Publica desde tu celular gratis, encontrá la oportunidad que estabas esperando." />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="https://panoram.com/images/IMG_3506bfree.jpg" />

{% endblock %}

{% block body %}
  <div class="paravos">
    <div class="garantiaimage paravos__banner">
      <div class="colorhover"></div>
      <div class="banner__sectiontitle w-clearfix">
        <div class="sectiontitle--line"></div>
        <h6 class="sectiontitle--h">Asegurá con Ver Usados</h6>
        <div class="sectiontitle--line"></div>
      </div>
    </div>
    <div class="paravos__container">
      <div class="paravos__container--form">
        <h1 class="garantia--h">Asegurá con nosotros</h1>

        <h5 class="titlesection">¿Qué es EstoyCubierto.com?</h5>
        <p><a href="http://estoycubierto.com" target="_blank">EstoyCubierto.com</a> es el servicio gratuito de cotizaciones que ofrece panoram a través de Sector Seguro, el broker líder de seguros online. Con más de 12 sucursales y atención personalizada en todo el país. Confiamos en su servicio para acercarle a los usuarios las mejores cotizaciones del mercado.</p>

        <h5 class="titlesection">¿Qué es la Garantía de mejor precio Garantizado?</h5>
        <p>En <a href="http://estoycubierto.com" target="_blank">SectorSeguro</a> te garantizamos el mejor precio. Si nuestra cotización no te dio resultado o no hemos podido mejorar tu costo actual de seguro, te desafiamos a que nos envíes tu frente de póliza escaneado vía mail a <a href="mailto:directo@sectorseguro.com">directo@sectorseguro.com</a> y mejoraremos tu precio.</p>

        <p>Si no logramos brindarte el mejor costo, te bonificamos un kit de tuercas de seguridad o un premio sorpresa completamente gratuito asegurando un vehiculo a través nuestro.</p>
        <a href="http://estoycubierto.com/" class="principalbutton estoycubierto">Ir al sitio Estoy cubierto</a>
      </div>
    </div>
  </div>
{% endblock %}
