{% extends "layouts/default.html" %}

{% block head %}
  <title>{{app_title}} Garantía Mecánica</title>
  <meta content="Compra y venta de autos usados y 0km.  Descbrí cuál es el mejor auto para vos y encontrá la mejor oferta simple y rápido." name="description">
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{app_title}} Garantía mecánica" />
  <meta property="og:description" content="Publica desde tu celular gratis, encontrá la oportunidad que estabas esperando." />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="https://panoram.com/images/IMG_3506bfree.jpg" />
{% endblock %}

{% block body %}
  <div class="paravos">
    <div class="garantiaimage paravos__banner">
      <div class="colorhover"></div>
      <div class="banner__sectiontitle w-clearfix">
        <div class="sectiontitle--line"></div>
        <h6 class="sectiontitle--h">Garantía Ver usados</h6>
        <div class="sectiontitle--line"></div>
      </div>
    </div>
    <div class="paravos__container">
      <div class="paravos__container--form">
        <h1 class="garantia--h">Garantía Mecánica</h1>
        
        <h5 class="titlesection">¿Qué es?</h5>
        <p>Ver Usados es la primer plataforma online que te acerca la posibilidad de contratar una cobertura de Garantía Mecánica por 90 días para que salgas andando tranquilo y confiado en tu nuevo auto. </p>
        <p>La garantía mecánica es una cobertura de tranquilidad otorgada por una de nuestras compañías aseguradoras, que a través de la emisión de una póliza, brinda un seguro mecánico sobre el vehículo que estás vendiendo o comprando. Es una garantía para las fallas o desperfectos que pudieran ocurrir, según cláusulas de póliza, que te dará toda la confianza que necesitas para avanzar en la compra de tu auto y concretar la operación con mayor tranquilidad.</p>
        
        <h5 class="titlesection">¿Qué cubre?</h5>
        <p>La cobertura mecánica que te acerca Ver Usados, cubrirá el costo de reparación o el reemplazo de las piezas mecánicas y/o eléctricas del motor, dirección, electricidad, transmisión automática y manual, frenos, aire acondicionado, suspensión delantera y trasera y la tracción delantera de tu nuevo auto.</p>
        <p>Además te da protección mecánica sobre el aire acondicionado, motor, dirección, transmisión, suspensión, frenos y el todo el sistema eléctrico del auto.</p>
        <p>La cobertura está limitada a las cláusulas y condiciones de la póliza emitida.</p>
        <p>La publicación de los autos en Ver Usados no brinda garantías de ningún tipo hasta tanto no se hayan llevado a cabo los procesos y requisitos necesarios para acceder a la cobertura. Ver Usados no ofrece garantías de los vehículos publicados en el sitio bajo ningún aspecto.</p>
        
        <h5 class="titlesection">Requisitos</h5>
        <p>Para acceder a la Garantía de tranquilidad mecánica, es necesario que el auto que estás comprando posea 5 años de antigüedad como máximo y menos de 120.000 Kilómetros.</p>
        <p>Será requisito indispensable para acceder a la cobertura llevar a cabo una inspección en el taller asignado por la compañía aseguradora.</p>
        <p>El vehículo debe ser inspeccionado y una vez aprobado, se emitirá la póliza previa autorización de la compañía por un plazo de 90 días a nombre del nuevo titular.</p>
        <p>La póliza puede ser transferida entre los titulares del vehículo dentro del plazo de los 90 días.</p>
        
        <h5 class="titlesection">¿Cómo avanzar con la garantía mecánica?</h5>
        <p>Ver Usados analiza y procesa todas y cada una de las publicaciones en el sitio. Si tu vehículo está dentro de los requisitos, un asesor se pondrá en contacto con usted al teléfono asignado para cometarle los valores y los detalles de cobertura.</p>
        <p>Si usted no recibió un contacto y está interesado en conocer más sobre nuestra cobertura, puede escribirnos a <a href="mailto:contacto@panoram.com">contacto@panoram.com</a> con el asunto "Garantía Mecánica" y le responderemos a la brevedad.</p>

        <h5 class="titlesection">¿Cómo avanzar en caso de un desperfecto?</h5>
        <p>Si usted sufrió un desperfecto en el vehículo adquirido, debe escribirnos a <a href="mailto:contacto@panoram.com">contacto@panoram.com</a> con el asunto "Falla Mecánica" ingresando allí el número de póliza de la Garantía Mecánica. Nuestro equipo coordinará la inspección necesaria para que pueda llevar su vehículo al taller asignado y llevar a cabo la reparación necesaria de forma inmediata. </p>
      </div>
    </div>
  </div>
{% endblock %}