{% extends "layouts/default.html" %}

{% block head %}
  <title>{{app_title}} Política de privacidad</title>
  <meta content="Compra y venta de autos usados y 0km.  Descbrí cuál es el mejor auto para vos y encontrá la mejor oferta simple y rápido." name="description">    
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{app_title}} Política de privacidad" />
  <meta property="og:description" content="Publica desde tu celular gratis, encontrá la oportunidad que estabas esperando." />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="https://panoram.com/images/IMG_3504bfree.jpg" />
{% endblock %}

{% block body %}
  <div class="paravos">
    <div class="paravos__container">
      <div class="paravos__container--form">
        <h1 class="garantia--h">Política de Privacidad</h1>
        <h5 class="titlesection"></h5>
        <p>Mediante el presente, se informa al Usuario de www.panoram.com (el, “Sitio y/o Ver Usados”) acerca de su política de protección de datos de carácter personal (los, “Datos Personales") para que el Usuario determine libre y voluntariamente si desean facilitar a Ver Usados, los Datos Personales que se les puedan requerir al Usuario al momento de registrarse en el Sitio. Ver Usados se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales así como a prácticas de la industria. En dichos supuestos, Ver Usados anunciará en esta página los cambios introducidos con razonable antelación a su puesta en práctica.</p>
        <p>Se deja expresamente aclarado que ciertos Servicios prestados por el Sitio pueden contener Condiciones Particulares con previsiones específicas en materia de protección de Datos Personales.</p>
        <p>Los Datos Personales serán objeto de tratamiento automatizado e incorporados a la correspondiente base automatizada de datos de carácter personal de los que Ver Usados será titular y responsable (la "Base"). Con este objeto Ver Usados proporcionará al Usuario los recursos técnicos adecuados para que, con carácter previo, puedan acceder a este aviso sobre la Política de Protección de Datos o a cualquier otra información relevante y puedan prestar su consentimiento a fin de que Ver Usados proceda al tratamiento automatizado de sus Datos Personales. Se deja expresamente aclarado que las respuestas a las preguntas sobre Datos Personales son voluntarias.</p>
        <p>El Usuario garantiza que los Datos Personales facilitados a Ver Usados son veraces y se hace responsable de comunicar a ésta cualquier modificación en los mismos.</p>
        <p>La finalidad de la recogida y tratamiento automatizado de los Datos Personales es la que se detalla a continuación:</p>
        <ul><li>Para permitirnos procesar, dar validez y verificar.</li>
        <li>Para habilitar su participación en promociones, premios o concursos en línea.</li>
        <li>Para el desarrollo de nuevos productos y servicios que satisfagan las necesidades del Usuario.</li>
        <li>Para contactarse, vía mail o telefónicamente, con el Usuario a fin de relevar opiniones sobre el servicio y para informar sobre productos y servicios Ver Usados. El lector podrá notificar en cualquier momento su voluntad de no recibir información sobre productos y servicios.</li></ul>
        <p>Ver Usados ha adoptado los niveles de seguridad de protección de los Datos Personales legalmente requeridos, y ha instalado todos los medios y medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los Datos Personales facilitados a Ver Usados. Ello no obstante, el Usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables. Por tal motivo, debe tener presente que siempre que divulguen voluntariamente información personal online, ésta puede ser recogida y utilizada por otros. Por lo tanto, si bien ponemos nuestro mayor esfuerzo por proteger su información personal, Ver Usados no será responsable por la difusión de los datos personales de nuestros visitantes efectuada por fuentes ajenas a ésta ni será responsable por los daños y perjuicios que la misma genere.</p>
        <p>El Usuario tiene reconocidos los derechos de acceso, cancelación, rectificación y oposición, así como tienen reconocido el derecho a ser informados de los permisos de acceso realizados contactándose con Ver Usados a través del correo electrónico contacto@panoram.com. En efecto, el Usuario puede modificar sus Datos Personales en cualquier momento, accediendo directamente a su Página Personal dentro del Sitio, en tanto, se encuentre activo el Sitio, los Suscriptores podrán, valiéndose del Nombre de Usuario que generen y la Contraseña, dar de alta, modificar y/o dar de baja los datos personales que hubieran ingresado en la Base.</p>
        <p></p>
        <p><em>panoram.com  la oportunidad que estabas esperando.</em></p>​

      </div>
    </div>
  </div>
{% endblock %}