{% extends "layouts/default.html" %}

{% block head %}
  <title>{{app_title}} Preguntas Frecuentes</title>
  <meta content="Transmití en vivo desde tu smartphone" name="description">    
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{app_title}} Preguntas frecuentes" />
  <meta property="og:description" content="Publica desde tu celular gratis, encontrá la oportunidad que estabas esperando." />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="https://panoram.com/images/IMG_3504bfree.jpg" />
{% endblock %}

{% block body %}
  <div class="paravos">

    <div class="paravos__container">
      <div class="paravos__container--form">
        <h1 class="garantia--h">Preguntas Frecuentes</h1>
        <blockquote class="quote"></blockquote>        
        <a class="anchor" name="que-es-panoram"></a>
        <h5 class="titlesection">¿Qué es Panoram?</h5>
        <p>Devmeta Panoram es una aplicación que te permite tomar fotografías periodicas con tu teléfono, tablet o pc para que puedas visualizar en poco tiempo lapsos relativamente largos de tiempo.</p>
        <h5 class="titlesection">¿Qué persigue Panoram?</h5>
        <p>Este proyecto está destinado a monitorear nuestros bienes comunes muchas veces mal denominados "recursos naturales", con el objetivo de medir, en forma fotográfica al menos la calidad del aire, agua y tierra para luego eventualmente discutir acerca del estado y los peligros que enfrentamos como humanidad frente al avance de nuevas técnicas de extractivismo y colonialismo que los amenazan.</p>

        <a class="anchor" name="que-es-la-garantia-mecanica-y-como-funciona"></a>
        <h5 class="titlesection">¿Qué imágenes puedo subir?</h5>
        <p><strong>Lo que subas depende de vos.</strong></p>
        <p>Serán ocultadas todas las transmisiones del Usuario en las cuales no considere los fines y propósitos específicos de este proyecto</p>

        <a class="anchor" name="como-comprar-un-auto-correctamente"></a>
        <h5 class="titlesection">¿Las imágenes que subo estarán siempre disponibles?</h5>
        <p><strong>Por el momento no. Acordate de descargar tus transmisiones</strong>
        <p>Siendo Devmeta Panoram un proyecto sin fines de lucro, sin inversores permanentes y costeado por el tiempo libre del desarrollador no podemos garantizar la disponibilidad del material debido a restricciones de espacio en nuestro servidor.</p>
        <p>Si estás interesado en participar en solventar el proyecto escribinos a <a href="mailto:panoram@devmeta.net">panoram@devmeta.net</a></p>
        <p>La fecha de caducidad está indicada en cada una de tus publicaciones desde tu panel. No digas que no te avisamos!</p>

        <p></p>

      </div>
    </div>
  </div>
{% endblock %}

{% block assets %}
  <script src="/js/preguntas_frecuentes.js?_={{ rev_parse }}" type="text/javascript"></script>
{% endblock %}