{% extends "layouts/default.html" %}

{% block head %}
  <title>{{app_title}} Preguntas Frecuentes</title>
  <meta content="Compra y venta de autos usados y 0km.  Descbrí cuál es el mejor auto para vos y encontrá la mejor oferta simple y rápido." name="description">    
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{app_title}} Preguntas frecuentes" />
  <meta property="og:description" content="Publica desde tu celular gratis, encontrá la oportunidad que estabas esperando." />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="https://panoram.com/images/IMG_3504bfree.jpg" />
{% endblock %}

{% block body %}
  <div class="paravos">
    <div class="paravos__container">
      <div class="paravos__container--form">
        <h1 class="garantia--h">Preguntas Frecuentes</h1>

        <a class="anchor" name="que-es-panoram"></a>
        <h5 class="titlesection">¿Qué es Ver Usados?</h5>
        <p>Ver Usados es la primer y única plataforma de compra-venta de autos totalmente gratuita en Argentina que te brinda la posibilidad de comprar o vender con Garantía Mecánica por 90 días.</p>

        <a class="anchor" name="que-es-la-garantia-mecanica-y-como-funciona"></a>
        <h5 class="titlesection">¿Qué es la Garantía Mecánica y cómo funciona?</h5>
        <p>Ver Usados clasifica los vehículos que podrán acceder a contratar la póliza de seguro de Garantía Mecánica. Los mismos serán contactados y se les ofrecerá la posibilidad de contratar por una suma determinada una garantía mecánica por 90 días desde el momento de la compra. Los vehículos aptos deberán ser autos con menos de 120.000 kilómetros y no más de 5 años de antigüedad. La garantía se activa una vez llevada a cabo la inspección solicitada por la compañia de seguros y una vez se le asigne un taller certificado. Ver Usados no otorga garantía directa sobre ningún vehículo publicado en el sitio.</p>
        <p>Ante un desperfecto o alguna falla del vehículo, la póliza de seguros otorgada por la compañia respaldará el desperfecto siempre dentro de los términos y condiciones de la cobertura. La garantía mecánica puede ser contratada tanto por el vendedor como por el comprador.</p>
        <p>Conocer más sobre <a href="/garantia-mecanica">Garantía Mecánica Ver Usados</a>.</p>

        <a class="anchor" name="como-comprar-un-auto-correctamente"></a>
        <h5 class="titlesection">¿Cómo comprar un auto correctamente?</h5>
        <p>Antes de comprar tu próxima oportunidad te recomendamos conversar lo suficiente con el vendedor para conocer en profundidad el estado del vehículo como el estado de papeles. Dedicá el tiempo suficiente para conocer quién está del otro lado y resolver todas tus dudas y consultas.</p>
        <p>No permitas que te corran con los tiempos, no te sientas presionado ni transfieras dinero sin antes haber firmado y chequeado los papeles correspondientes.</p>
        <p>Antes de concretar la operación te recomendamos repasar los siguientes puntos para que tu transacción sea más segura y reduzcas las posibilidades de fraude:</p>
        <ul><li>Solicitá el informe de dominio en el registro donde esté radicado el vehículo. Así podrás saber que el auto no tiene prendas, embargos o inhibiciones por distintos motivos.</li>
        <li>Solicitar Libre deuda. Esto te dará la tranquilidad de saber que el vehículo que estás por comprar no tiene multas pendientes de pago.</li>
        <li>Solicitar la Verificación Policial para constatar que el motor y chasis del auto no pertenezcan a vehículos robados o mellizos.</li>
        <li>Solicitá la VTV al día ( Verificación Técnica Vehicular) te garantizará que el auto que vas a comprar está en óptimas condiciones para su rodado.</li>
        <li>El vehículo debe tener el grabado de autopartes realizado obligatorio por Ley.</li>
        <li>El 08 debe ser firmado por los vendedores en el registro previo cierre de la operación.</li>
        <li>Se recomienda no realizar transferencias ni entregas de dinero, sin antes haber chequeado los puntos anteriores.</li>
        <li>Una vez firmado el 08 por las dos partes, el nuevo título de propiedad se demorará entre 48 a 72hs dependiendo el registro.</li></ul>
        <p></p>

        <a class="anchor" name="como-saber-donde-esta-radicado-el-vehiculo-que-quiero-comprar"></a>
        <h5 class="titlesection">¿Cómo saber dónde está radicado el vehículo que quiero comprar?</h5>
        <p>Para conocer en que localidad y registro se encuentra radicado el vehículo que estás analizando comprar, podés ingresar en la página oficial del DNRPA, donde podrás acceder a la sección Radicación sobre el menu izquierdo e ingresando el Dominio podrás obtener la información de radicación por patente. <a href="http://www.dnrpa.gov.ar/portal_dnrpa/" target="_blank">http://www.dnrpa.gov.ar/portal_dnrpa/</a></p>

        <a class="anchor" name="como-proceder-si-el-auto-esta-radicado-en-una-provincia-lejana"></a>
        <h5 class="titlesection">¿Cómo proceder si el auto está radicado en una provincia lejana?</h5>
        <p>Si el auto que estás buscando está radicado en otra provincia, el titular y el comprador podrán firmar en una escribanía y presentar la transferencia con pedido de legajo en el registro donde vaya a quedar radicado con el domicilio del nuevo titular. El nuevo titular debe presentar la baja en la Casa de la provincia correspondiente en Capital Federal.</p>

        <a class="anchor" name="como-proceder-para-vender-mi-auto"></a>
        <h5 class="titlesection">¿Cómo proceder para vender mi auto?</h5>
        <p>Para vender tu auto, te recomendamos en principio establecer un buen vínculo con el posible comprador. Contarle sobre la realidad y situación actual de tu auto, los motivos que te impulsan a vender, el estado en general y responder todas las preguntas que el comprador tenga para hacer. De esta manera, mostramos que somos personas confiables y no escondemos nada. </p>
        <p>El próximo paso, será presentarle la documentación requerida para su máxima tranquilidad y garantía de llevar a cabo una operación segura. Comprobá que tu vehículo está listo para ser transferido persentando toda la documentación correspondiente.</p>

        <ul>
        <li>Libre Deuda</li>
        <li>VTV</li>
        <li>Grabado de autopartes</li>
        <li>Informe de Dominio</li></ul>

        <p>Una vez firmado el 08 el próximo paso será cerrar el trato llevado a cabo con el comprador y recibir el dinero o transferencia. Te recomendamos acompañarlo al banco una vez firmado el 08 o dirigirse a un lugar privado para finalizar la transacción.
Recordá entregar en el registro todas las cédulas azules otorgadas, en caso de no tenerlas debes realziar la denuncia de extravío correspondiente.</p>

        <a class="anchor" name="como-proceder-ante-una-estafa-o-fraude"></a>
        <h5 class="titlesection">¿Cómo proceder ante una estafa o fraude?</h5>
        <p>Ante casos de estafa o fraude el primer paso será realizar la denuncia policial correspondiente para poner a las autoridades en tema y avanzar legalmente como corresponda. Una vez realizada la denuncia, denunciar al usuario en Ver Usados para evitar que esta persona continúe haciendo uso de nuestros servicios. Desde nuestra plataforma brindaremos toda la información necesaria a las autoridades pertinentes para ayudar a dar con esta persona. Si fuiste victima de una estafa no dudes en ponerte en contacto con nosotros para brindarte todo el apoyo y asesoramiento necesario. Escribinos a <a href="mailto:contacto@panoram.com">contacto@panoram.com</a> </p>

        <a class="anchor" name="como-proceder-si-el-auto-que-voy-a-comprar-tiene-GNC"></a>
        <h5 class="titlesection">¿Cómo proceder si el auto que voy a comprar tiene GNC?</h5>
        <p>Se recomienda solicitar el boleto de compra del equipo de Gnc instalado en el auto. Constatar la cédula y realizar la denuncia de compra en ENARGAS, para asentar la nueva titularidad ante el Ente Nacional Regulador del Gas.</p>

        <a class="anchor" name="puedo-hacer-todos-los-tramites-yo-mismo"></a>
        <h5 class="titlesection">¿Puedo hacer todos los tramites yo mismo?</h5>
        <p>Sí, sin duda alguna. Los trámites de compra venta son más fáciles de lo que aparentan. Cualquiera puede llevar a cabo una compra o venta de su propio vehículo sin necesidad de pagar grandes comisiones a terceros. Además en cualquier registro podrán asesorarte si te sientas perdido en algún momento o si tienes dudas sobre los tramites que estás realizando.</p>
        <p>Además desde Ver Usados podes contactarnos por teléfono o mail para solicitar ayuda en cualquier momento, ya que nuestro equipo de soporte está a disposición de nuestros usuarios para ayudarlos a tener una Gran Experiencia.</p>

        <a class="anchor" name="cual-es-la-diferencia-entre-concesionarios-y-particulares"></a>
        <h5 class="titlesection">¿Cuál es la diferencia entre Concesionarios y Particulares?</h5>
        <p>Los concesionarios tanto oficiales como multimarca, ofrecen un servicio simplificado para comprar tu próximo vehículo. De esta forma, ellos son los responsables de garantizarte la documentación del auto y verificar cada punto de los mencionados en <a href="/preguntas-frecuentes#como-comprar-un-auto-correctamente">"¿Como comprar mi próximo auto?"</a>. Además, los concesionarios pueden brindar más y mejores posibilidades de financiamiento entre otros beneficios. Además, al comprar por concesionario tienes garantía por Ley durante los primeros meses. Esto brinda mayor confianza y tranquilidad para los usuarios que no quieren asumir grandes riesgos, incluso al momento de transferir el dinero para la compra de su próximo auto.</p>
        <p>Los concesionarios suelen tener un precio más caro que un auto particular, ya que los concesionarios deben asumir múltiples gastos como seguros, patentes, estructura y recursos humanos para llevar a cabo los servicios que ofrecen.</p>
        <p>En el caso de los particulares, la oportunidad de encontrar mejores precios incrementa, ya que entra el factor humano en juego y a veces, los factores de la vida ayudan a que tanto como un comprador y un vendedor se encuentren en el momento oportuno y lleven a cabo una operación excelente sin complicaciones.</p>
        <p>En este caso, los particulares brindan menos seguridad en cuanto a posibilidad de estafa y una pequeña molestia al momento de realizar mayores trámites que ante un concesionario. Pero es la mejor forma de evadir comisiones y sobre precios.</p>
        <p>Tanto particular como concesionario son buenas alternativas, según lo que estés buscando y lo que hayas encontrado, estará en tus manos tomar la decisión y elegir lo que más confianza te brinde.</p>

        <a class="anchor" name="como-puedo-ahorrar-en-el-seguro-de-mi-auto"></a>
        <h5 class="titlesection">¿Cómo puedo ahorrar en el seguro de mi auto?</h5>
        <p>Ver Usados brinda un servicio gratuito de cotizaciones de seguros a través del Broker de Seguros  "Sector Seguro" (<a href="https://estoycubierto.com" target="_blank">EstoyCubierto.com</a>) desde donde se cotiza uno por uno cada vehículo para acercarle a todos los usuarios una cotización personalizada con el Mejor Precio del mercado para el seguro de su auto.</p>
        <p>Completando los datos en <a href="http://estoycubierto.com" target="_blank">EstoyCubierto.com</a>, recibirás una propuesta por mail y te contactarán por teléfono para asesorarte. Así podés asegurarte ahorrar en tu próxima cobertura hasta un 40% del valor de mercado en seguros.</p>

        <a class="anchor" name="puedo-armar-una-flota-familiar-para-los-seguros-de-mis-autos"></a>
        <h5 class="titlesection">¿Puedo armar una flota familiar para los seguros de mis autos?</h5>
        <p>¡Sí! Tanto empresas como familias están habilitadas para armar flotas de más de 2 vehículos. De esta manera los usuarios pueden cotizar en flota y acceder a mayores beneficios. Ya que al asegurar en más de dos autos en una misma póliza los costos se reducen.</p>

        <a class="anchor" name="que-requisitos-tengo-para-publicar-mi-auto"></a>
        <h5 class="titlesection">¿Qué requisitos tengo para publicar mi auto?</h5>
        <p>Para publicar tu auto te recomendamos corroborar toda la documentación requerida. Será necesario que el vehículo esté libre de deudas y en óptimas condiciones para transferir el mismo. Cualquier auto puede ser publicado si está dentro de los marcos legales.</p>
        <p>El requisito para publicar en Ver Usados es que la información sea real, las fotos correspondan al auto publicado y que el precio esté dentro de los rangos lógicos del mercado automotor.</p>

        <a class="anchor" name="puedo-ofrecerle-mi-auto-a-panoram"></a>
        <h5 class="titlesection">¿Puedo ofrecerle mi auto a Ver Usados?</h5>
        <p>Si te interesa vender tu auto en el acto, Ver Usados cuenta con la posibilidad de compra inmediata por un precio menor al publicado y de mercado. Este sistema puede facilitar al momento de la venta. Pero nuestra recomendación siempre es tener un poco de paciencia y esperar por la oferta ideal. Si aún así te gustaría vender tu vehículo ahora mismo, podes enviarnos el link de publicación a <a href="mailto:contacto@panoram.com">contacto@panoram.com</a> y consideraremos tu solicitud</p>

        <a class="anchor" name="tengo-un-concesionario-como-puedo-aprovechar-la-plataforma-de-panoram"></a>
        <h5 class="titlesection">Tengo un concesionario. ¿Cómo puedo aprovechar la plataforma de Ver Usados?</h5>
        <p>En Ver Usados los concesionarios pueden aumentar sus ventas totalmente gratis. No hay comisiones ni costos por publicación para concesionarios. Además podrán tener su propio perfil Ver Usados para que sus clientes accedan y vean todo su Stock Online.</p>
        <p>Te recomendamos armar un proceso simple de check list para la preparación de todos tus vehículos y sobre el final del proceso, la publicación gratuita de Ver Usados. Es una herramienta gratis que no podés dejar de considerar para aumentar el tráfico y tus ventas.</p>

        <a class="anchor" name="puedo-vender-los-autos-de-mi-concesionario-a-través-de-panoram"></a>
        <h5 class="titlesection">¿Puedo vender los autos de mi concesionario a través de Ver Usados?</h5>
        <p>Sí, actualmente todo concesionario puede publicar todos o algunos de los vehículos que tienen en su stock de autos usados como 0km, subiendo las fotos de manera múltiple.</p>

        <a class="anchor" name="trabajan-con-concesionarios-oficiales-para-0km"></a>
        <h5 class="titlesection">¿Trabajan con concesionarios oficiales para 0km?</h5>
        <p>Sí. Tenemos convenio con más de treinta concesionarios oficiales en el país. Cada uno de ellos publica libre y gratuitamente en nuestro sitio.</p>

        <a class="anchor" name="por-que-eliminaron-mi-publicacion"></a>
        <h5 class="titlesection">¿Por qué eliminaron mi publicación?</h5>
        <p>Ver Usados es una plataforma gratuita y por ello somos exigentes con las publicaciones de nuestro sitio.</p>
        <p>Cualquier auto puede ser eliminado si el precio de publicación no está acorde a los valores reales de mercado. Si las fotos son de otro usuario o no corresponden a la descripción del vehículo o si el vendedor tiene denuncias. De cualquier forma, Ver Usados hará lo posible por ponerse en contacto con el usuario antes de proceder a tomar una decisión sobre cualquier publicación que vaya a ser eliminada. </p>

        <a class="anchor" name="por-que-panoram-es-gratuito"></a>
        <h5 class="titlesection">¿Por qué Ver Usados es gratuito?</h5>
        <p>Porque estamos seguros que internet debe ser libre para todos y así aumentar y mejorar las posibilidades de los usuarios.</p>

        <a class="anchor" name="me-cobran-comision-por-publicar-o-vender-mi-auto"></a>
        <h5 class="titlesection">¿Me cobran comisión por publicar o vender mi auto?</h5>
        <p>¡No! Ver Usados es totalmente gratuito. No cobramos por publicar, vender, comprar o buscar un auto. ¡Es completamente gratis!</p>

        <a class="anchor" name="que-hacer-con-el-seguro-al-vender-o-comprar-un-auto"></a>
        <h5 class="titlesection">¿Qué hacer con el seguro al vender o comprar un auto?</h5>
        <p>Si vendes tu auto, debes solicitar la baja a tu compañía o broker de seguros. En caso que estés comprando, nosotros te haremos llegar una cotización para que puedas comparar con otras compañías y así tomar la mejor decisión.</p>

      </div>
    </div>
  </div>
{% endblock %}