

heroku config:set APP_TITLE=Verusados
heroku config:set APP_URL=https://verusados-api.herokuapp.com
heroku config:set APP_AD_DUE_DAYS=65
heroku config:set APP_LISTING_PER_PAGE=20
heroku config:set APP_IMAGE_UPLOAD_MAX=5000
heroku config:set APP_HASH_SALT=h8g7f6d5
heroku config:set APP_JWT_SECRET=a6s7d8f9
heroku config:set APP_JWT_EXPIRATION="30 minutes"
heroku config:set DB_NAME=heroku_eb11918c86f3456
heroku config:set DB_USER=bb130a26de1e2a
heroku config:set DB_PASSWORD=19021c6c
heroku config:set DB_HOST=us-cdbr-iron-east-04.cleardb.net
heroku config:set FB_APP_ID=101756253664567
heroku config:set FB_APP_SECRET=0c051fbfe268d4a37fd54a9afab95b63
heroku config:set S3_KEY=********
heroku config:set S3_SECRET=********
heroku config:set S3_BUCKET=ver-usados
heroku config:set S3_REGION=us-east-1
heroku config:set S3_RESOLUTIONS=500x375,800x600,1080x810
heroku config:set MAIL_FROM=email@gmail.com
heroku config:set MAIL_PASSWORD=********
heroku config:set MAIL_REPLY=noreply@verusados.com
heroku config:set MAIL_SMTP_HOST=smtp.gmail.com
heroku config:set MAIL_SMTP_PORT=465

